.contactform {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4rem;
	color: #796357;
	font-size: 1.5rem;
}

.contactform-heading {
	font-family: "Polly Rounded";
	letter-spacing: -0.04em;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.contactform-copy {
	font-size: 1.5rem;
}

input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 0.5rem;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"] {
	padding: 1rem;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.5rem;
	color: #796357;
	padding: 50px 0;
}

.container * {
	box-sizing: border-box;
}

button {
	padding: 8px 16px;
	border: none;
	background: #796357;
	color: #fff;
	border-radius: 2px;
	grid-column: 1 / span 2;
	margin-top: 2rem;
}

.contact-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 25% 75%;
	grid-template-rows: 8;
	width: 75%;
	grid-template-areas:
		"name namebox"
		"email emailbox"
		"phone phonebox"
		"message messagebox"
		"days daysbox"
		"times timesbox";
}

.contact-list li {
	text-decoration: none;
	list-style: none;
}
.contact-list input {
	margin-right: 1rem;
}
