.contactform {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4rem;
	color: #796357;
	font-size: 1.5rem;
}

.contactform-heading {
	font-family: "Polly Rounded";
	letter-spacing: -0.04em;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.contactform-copy {
	font-size: 1.5rem;
}

input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 0.5rem;
}

input:focus {
	outline: #b34a0e auto 3px;
}
textarea:focus {
	outline: #b34a0e auto 3px;
}

textarea,
input[type="text"],
input[type="emailbox"],
input[type="tel"] {
	padding: 1rem;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.5rem;
	color: #796357;
	padding: 0 0;
	padding-top: 2rem;
}

.container * {
	box-sizing: border-box;
}

label {
	font-weight: 700;
}

button {
	padding: 8px 16px;
	border: none;
	background: #796357;
	color: #fff;
	border-radius: 2px;
	grid-column: 1 / span 2;
	margin-top: 2rem;
}

#name {
	grid-area: name;
}
#namebox {
	grid-area: namebox;
}
#email {
	grid-area: email;
}
#emailbox {
	grid-area: emailbox;
}
#phone {
	grid-area: phone;
}
#phonebox {
	grid-area: phonebox;
}
#message {
	grid-area: message;
}
#messagebox {
	grid-area: messagebox;
}
#days {
	grid-area: days;
}
#daysbox {
	grid-area: daysbox;
}
#times {
	grid-area: times;
}

#timesbox {
	grid-area: timesbox;
}

.required-input {
	grid-area: requiredinput;
}

.contact-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 25% 75%;
	grid-template-rows: 8;
	width: 75%;
	grid-template-areas:
		"name namebox"
		"email emailbox"
		"phone phonebox"
		"message messagebox"
		"days daysbox"
		"times timesbox"
		"requiredinput requiredinput";
}

.contact-list li {
	text-decoration: none;
	list-style: none;
}
.contact-list input {
	margin-right: 1rem;
}

@media (max-width: 800px) {
	.contact-grid {
		gap: 0;
		text-align: left;
		grid-template-columns: 100%;
		grid-template-areas:
			"name"
			"namebox"
			"email"
			"emailbox"
			"phone"
			"phonebox"
			"message"
			"messagebox"
			"days"
			"daysbox"
			"times"
			"timesbox"
			"requiredinput";
	}
	label {
		padding-top: 2rem;
		font-weight: 700;
	}
}
