.directions {
	margin-left: 10%;
	margin-right: 10%;
	color: #796357;
}

.directions-title {
	font-family: "Polly Rounded";
	letter-spacing: -0.04em;
	font-size: 3rem;
	margin-top: 10rem;
	margin-bottom: 2rem;
	text-align: center;
}

.directions img {
	display: block;
	margin: 0 auto;
	width: 80vw;
}

.directions-copy {
	font-size: 1.5rem;
}

@media (min-width: 1500px) {
	.directions img {
		width: 65vw;
	}
}
