.footer {
	background-image: url(../images/footer-wave.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 45vh;
	margin-top: 10rem;
	color: white;
	padding-top: 1px;
}

.footer-container {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12rem;
}

.footer-top {
	display: grid;
	grid-template-columns: repeat(auto, 3);
}

.footer-left {
	grid-column: 1;
}

.footer-middle {
	grid-column: 2;
}

.footer-right {
	grid-column: 3;
}

.footer-heading {
	font-weight: bold;
	font-size: 1.2rem;
}

.footer-copy {
	font-size: 1.2rem;
}

.footer-link {
	display: flex;
	list-style: none;
	align-items: center;
	justify-items: center;
	margin-bottom: 0px;
	font-size: 1.2rem;
}

.footer-link-item {
	margin: 0.4rem 1rem 0 0;
	padding: 0 0.3rem;
	cursor: pointer;
	color: white;
}

hr {
	color: white;
	background-color: white;
}

a {
	text-decoration: none;
	color: white;
}
