.footer {
	background-image: url(../images/footer-wave.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
	margin-top: 10rem;
	color: white;
	padding-top: 1px;
	display: flex;
}

.footer-container {
	width: 100%;
	margin-bottom: 1rem;
	margin-left: 10%;
	margin-right: 10%;
	align-self: flex-end;
}

.footer-top {
	display: grid;
	grid-template-columns: repeat(auto, 3);
	grid-template-areas: "left middle right";
}

.footer-left {
	grid-area: left;
}

.footer-middle {
	grid-area: middle;
}

.footer-right {
	grid-area: right;
}

.footer-heading {
	font-weight: bold;
	font-size: 1.2rem;
}

.footer-copy {
	font-size: 1.2rem;
}

.footer-link {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 0px;
	font-size: 1.2rem;
}

.footer-link-item {
	margin: 0.4rem 1rem 0 0;
	padding: 0 0.3rem;
	cursor: pointer;
	color: white;
}

hr {
	color: white;
	background-color: white;
}

.footer-container a {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 600px) {
	.footer {
		background: none;
		background-color: #ac968f;
		height: auto;
	}

	.footer-top {
		padding-top: 2rem;
		gap: 1rem;
		grid-template-columns: repeat(auto, 2);
		grid-template-areas:
			"left middle"
			"right .";
	}
}
