.hero {
	background-image: url(../images/hero-wave.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 75vh;
}

.heroQuote {
	display: grid;
	grid-template-columns: 50% 50% 50% 50%;
	grid-template-rows: 50% 50%;
	width: 100%;
	height: 100%;
}

.heroQuoteTitle {
	grid-column: 2;
	grid-row: 1;
	justify-items: center;
	align-self: end;
	font-size: 7em;
	font-family: "modulusregular";
	font-weight: bold;
	color: #5f4e45;
}

.heroQuoteSubtitle {
	grid-column: 2;
	grid-row: 2;
	justify-items: center;
	align-self: start;
	font-size: 2em;
	font-family: "droid_sansregular";
	color: #796357;
}
