@import "../fonts/stylesheet.css";

html {
	font-size: 12px;
}

body {
}

.internal-link {
	text-decoration: none !important;
	color: #b34a0e !important;
}

.internal-link:hover,
.internal-link:link {
	color: #6b2c08 !important;
	text-decoration: none !important;
}
