.navbar {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;
}

.navbar-logo {
	height: 5rem;
	margin-right: 2rem;
	margin-left: 1rem;
	animation: rotate 0.7s ease-in-out 0.5s;
}

.nav-link.active {
	color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-toggler {
	margin-top: 0;
	margin-right: 2rem;
}

.nav-link {
	font-size: 1.2rem;
}
