.navbar {
	display: flex;
	align-items: center;
	padding: 0.5rem 2.5rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;
}

.navbar-img {
	height: 5rem;
}
.navbar-sticky {
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	display: flex;
	align-items: center;

	padding: 0.5rem 2.5rem;
	width: 100%;
	margin-bottom: 10rem;
}

.navbar-logo {
	height: 5rem;
	margin-right: 0.5rem;
	margin-left: 1rem;
	animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar-link {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 0px;
	font-size: 1.2rem;
	margin-right: 4rem;
	margin-left: 5rem;
}

.navbar-link-item {
	margin: 0.4rem 1rem 0 0;
	padding: 0 0.3rem;
	cursor: pointer;
	color: #796357;
}
