.principles {
	margin-top: 6rem;
}

.principles-middle {
	padding-top: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-image: url(../images/actor-wave-v6_middle.svg);
	color: white;
}

.principles-container {
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	row-gap: 2rem;
	grid-template-columns: 10rem 75%;
	grid-template-rows: repeat(auto, 5);
}

#principle1 {
	grid-area: principle1;
}

.principles-heading {
	grid-column: 1 / span 2;
	grid-row: 1;
	font-family: "Polly Rounded";
	letter-spacing: -0.04em;
	font-size: 3rem;
	margin-bottom: 3rem;
}

.principles-text {
	grid-column: 2;
	grid-row: 2;
}
.principles-title {
	font-family: "Polly Rounded";
	letter-spacing: -0.04em;
	font-size: 3rem;
}

.principles-subtitle {
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-family: "Modulus";
	font-weight: bold;
}

.principles-copy {
	font-size: 1.5rem;
}

.principles-img {
	font-size: 1.5rem;
	fill: white;
	justify-self: baseline;
	margin-bottom: 4rem;
	margin-right: 0;
	justify-self: right;
}

.principles-img img {
	width: 60%;
}

@media only screen and (max-width: 600px) {
	.principles {
		background-size: cover;
	}

	.principles-container {
		padding-top: 2%;
		padding-bottom: 5%;
	}
}

@media (min-width: 1000px) {
	.principles-container {
		margin-top: -6%;
		padding-bottom: 5rem;

		grid-template-areas:
			"heading heading"
			"img text"
			"img cv"
			"img cert";
	}
}
