.quote {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3rem;
	font-family: "droid_sans";
	color: #ac968f;
}

.quote-container {
	text-align: center;
}

.quote-symbol {
	text-align: left;
	font-size: 10rem;
	font-family: "Georgia";
}

.quote-title {
	font-size: 3rem;
	display: inline-block;
	text-align: left;
}

.quote-author {
	font-size: 1.5rem;
	text-align: right;
}

.quote-copy {
	font-size: 1.5rem;
	display: inline-block;
	text-align: left;
	margin-top: 4rem;
}
